.food-item{
    width: 100%;
    margin: auto;
    border-radius: 14px;
    box-shadow: 0px 0px 4px rgb(194, 149, 149);
    transition: 0.3s;
    animation: fadeIn 1s;
}

.food-item-info{
    padding: 10px;

}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p {
    font-size: 20px;
    font-weight: 400;
    font-family: cursive;
}

.food-item-name-rating img{
    width: 70px;
}

.food-item-description{
    color: rgb(76, 98, 98);
    font-family: cursive;
}

.food-item-price{
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: cursive;
}

.food-item-img-container{
    position: relative;
}

.food-item-img-container .add{
    width: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 30%;
}

.food-item-counter{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background-color: wheat;

}

.food-item-counter img{
    width: 32px;

}